.section5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #090909;
}

.section5 .left {
    text-align: left;
    width: 45%;
    padding: 4rem;
    transform: translate(100px, -40px);
}

.left p{
    font-size: 6rem;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 80px;
}

.left .normal{
    margin: 0;
    font-size: 1.5rem;
    color: rgba(156, 163, 175, 1);
}

@media screen and (max-width: 768px) {
    
    .section5 .left {
        text-align: left;
        width: 100%;
        padding: 1rem;
        transform: translate(40px, -40px);
    }

    .left p{
        font-size: 4rem;
        margin-bottom: 40px;
    }

    .left .normal{
        font-size: 1.25rem;
    }
}